flask-socketio
numpy
kafka
impyla
sqlalchemy
requests
python-binance
psycopg2
ccxt
flask
flask-restplus
flask-httpauth
apscheduler
slackclient
pandas
thriftpy2
binance
twilio
Werkzeug==0.16.0
flask-cors
flask-bcrypt